@page "/"
@using TodoSAM.Models
@using TodoSAM.Services
@inject TodoService TodoService;

<div class="d-flex flex-column justify-content-between p-4" style="height:100vh">
    <div class="overflow-auto rounded">
        <Virtualize Context="task" Items="TodoService.GetAll()" TItem="TodoTask">
            <ItemContent>
                <ul class="list-group list-group-flush" tabindex="-1">

                    <li @key="task.Id" class="list-group-item d-flex justify-content-between @(task.IsImportant ? "list-group-item-warning" : "")">

                        <div class="fs-6 text-truncate">
                            @if (task.IsCompleted)
                            {
                                <del class="text-success">@task.Task</del>
                            }
                            else
                            {
                                @task.Task
                            }
                        </div>
                        <div class="d-flex flex-row flex-nowrap ms-2">
                            <button type="button" class="btn" @onclick="(() => TodoService.ToggleCompletion(task))">
                                @if (task.IsCompleted)
                                {
                                    <span class="badge text-bg-success">@task.CompletedDateTime.ToString("G")</span>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle text-success"></i>
                                }
                            </button>

                            <button type="button" class="btn" @onclick="@(() => TodoService.ToggleImportant(task))">
                                <i class="bi @(task.IsImportant ? " bi-star-fill" : "bi-star") text-warning"></i>
                            </button>

                            <button type="button" class="btn" @onclick="(() => TodoService.Remove(task))">
                                <i class="bi bi-x-lg text-danger"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </ItemContent>
            <EmptyContent>
                <div class="d-flex align-items-center justify-content-center h-100">
                    <img src="img/sleep-emoji.png" class="h-50" />
                </div>
            </EmptyContent>
        </Virtualize>
    </div>


    <div class="mt-4">
        <form class="row" @onsubmit="InputTaskHandler">
            <div class="col-8 pe-2">
                <InputText @bind-Value="_todo" class="form-control border-secondary" tabindex="0" placeholder="Add a new task!" autofocus></InputText>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary w-100">Add</button>
            </div>
        </form>
    </div>
</div>



@code {
    private string _todo = string.Empty;

    private void InputTaskHandler()
    {
        try
        {
            TodoService.Add(_todo);
        }
        catch (ArgumentException ex)
        {
            //Code to handle the exception. Example: A toast, snackbar, dialog to showcase error

            //In a non-console app, Messages can be printed in output debug window as below:
            System.Diagnostics.Debug.WriteLine(ex.Message);
        }

        _todo = string.Empty;
    }
}
